.flex-container{
  display:flex;
}
.flex-container > div{
  height: 600px;
  width: 50%;
  box-sizing: border-box;
}

.about {
  background-image: url(sendmsg.jpeg);
  height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.about h3, p{
  color: white;
  padding: 10px;
}

.container{
  background-color: #b04e2a;
  color:white;
  font-family: Arial, Sans-serif;
  padding: 15px;
}

.container input, textarea, h3{
    margin: 10px;
    border: none;
    border-radius: 15px;
    padding: 7px;
}

.row{
  height: 25px;
}


.text{
  height: 200px;
}

.button{
  background-color:#403431;
  color:white;
  text-align:center;
  font-size: 20px;
  cursor: pointer;

}
.button:hover{
  background-color: white;
  color:#403431;
}
